/* BACKGROUND */
.bg-gradient-primary {
    background-color: #1973b4;
    background-image: linear-gradient(180deg, #1973b4 10%, #0a4f81 100%);
    background-size: cover;
}

/* BUTTON */
.btn-primary {
    color: #fff;
    background-color: #1973b4;
    border-color: #1973b4;
}
.btn-primary:hover {
    color: #fff;
    background-color: #5aa8e0aa;
    border-color: #5aa8e0aa;
}
.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #1973b4;
    border-color: #1973b4;
    box-shadow: 0 0 0 0.2rem #1973b46f;
}
.btn-primary.disabled,
.btn-primary:disabled {
    color: #abbdd2;
    background-color: #44779b;
    border-color: #44779b;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #4b8dbd;
    border-color: #1973b4;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #1973b46f;
}

/* FONT / TEXT */
.font-10 {
    font-size: 10px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-20 {
    font-size: 20px !important;
}

.font-22 {
    font-size: 22px !important;
}

.font-24 {
    font-size: 24px !important;
}

.text-default {
    color: #1f1f1f !important;
}

.text-primary {
    color: #1973b4 !important;
}

.text-success {
    color: #0a9b46 !important;
}

.text-gray {
    color: #696969 !important;
}

.text-orange {
    color: #c27e00 !important;
}

.text-red {
    color: #a02e00 !important;
}

.text-title {
    color: #5b5b5b;
    font-weight: 600;
    font-size: 14px;
}

.text-content {
    color: #323232;
    font-weight: 500;
    font-size: 16px;
}

/* FORM */
.my-form-text-title {
    color: #5b5b5b;
    font-weight: 500;
    font-size: 15px;
}

.my-form-text-title-bold {
    color: #5b5b5b;
    font-weight: bold;
    font-size: 15px;
}

.my-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
}

.my-form-text-content {
    color: #323232;
    font-weight: 500;
    font-size: 16px;
}

.my-form-text-error {
    width: 100%;
    font-size: 14px;
    padding-left: 14px;
    color: #eb5757 !important;
    margin-top: 0.25rem !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

/* INPUT FILE */
.input-file {
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file + label {
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.5rem 1rem;
}

.no-js .input-file + label {
    display: none;
}

.input-file:focus + label,
.input-file.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.input-file + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.input-file-1 + label {
    color: #1973b4;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #1973b4;
}

.input-file-1:focus + label,
.input-file-1.has-focus + label,
.input-file-1 + label:hover {
    background-color: #fff;
    border: 1px solid #1973b4;
}

/* LOADER */
.lds-ring {
    top: 45%;
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 6px;
    border: 6px solid #252e71;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #252e71 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(192, 192, 192, 0.5);
    background-position: center;
}

/* DROPDOWN */
.my-dropdown {
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 14px;
}

/* BUTTON */
.btn-icon-round {
    border-radius: 8px;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn-icon-round-sm {
    padding: 8px 8px;
    font-size: 14px !important;
    line-height: 1.5;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* BUTTON SPINNER */
.btn {
    position: relative;
}

.btn__text {
    color: #ffffff;
    transition: all 0.2s;
}

.button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

/* NAV TAB */
.nav-tab-link {
    display: block;
    padding: 0.5rem 1.5rem;
}

.nav-tab-link:hover {
    color: #1973b4 !important;
    cursor: pointer;
    text-decoration: none;
}

.nav-tab-link:focus {
    text-decoration: none;
}

.nav-tab-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}

.nav-tab-item .active {
    border-bottom: 3px solid #1973b4;
    color: #1973b4 !important;
}

/* LOADER SPINNER */
.loader {
    position: relative;
    text-align: center;
    margin: 15px auto 35px auto;
    z-index: 9999;
    display: block;
    width: 120px;
    height: 120px;
    border: 12px solid #4e72df3b;
    border-radius: 50%;
    border-top-color: #1973b4;
    animation: spin 1s ease-in-out infinite;
    background-color: transparent;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.loader-txt {
    font-size: 20px;
    font-weight: 700;
    color: #323232;
}

/* TABLE */
.table-td-danger {
    background: rgba(190, 15, 15, 0.797);
    color: rgb(223, 223, 223);
}
